{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="is-superuser" content="{% if is_superuser %}true{% else %}false{% endif %}">
    <title>Sledgepong Level Editor</title>
    <link rel="stylesheet" href="{% static 'Sledgepong/css/editor.css' %}?v=galaxy1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+15&display=swap" rel="stylesheet">
</head>
<body>
    <a id="backButton" class="back-button" href="{% url 'playpage' %}">Back</a>
    <div class="editor-banner">
        <h1 class="editor-title">Level Editor</h1>
    </div>
    <canvas id="editorCanvas" ></canvas>
    <script src="{% static 'Sledgepong/js/editor.js' %}?v=galaxy9"></script>
</body>
</html>
