<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="mainmenu.css">
    <title>Options - Sledgepong</title>
</head>
<body>
    <div id="optionsModal" class="modal">
        <button id="backButton">Back</button>
        <div class="modal-content">
            <h2>Game Options</h2>
            
            <label for="speedControl">Ball Speed:</label>
            <input type="range" id="speedControl" min="1" max="10" value="5">
            
            <label for="aiControl">AI Difficulty:</label>
            <input type="range" id="aiControl" min="1" max="10" value="5">
        </div>
    </div>

    <script src="optionpage.js"></script>
</body>
</html>
